Repository hasan-almujtaba/nocturnal-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,vue}": "eslint --fix",
	"*.{js,jsx,ts,md,html,css}": "prettier --write"
}

feat: add all available variables to theme
  core/src/styles/theme.css
  core/src/styles/variable.css
Due: prettier --write

feat: add button component
  core/src/components/button/button.test.ts
  core/src/components/button/button.vue
  core/src/components/button/index.ts
  core/src/components/button/types.ts
  core/src/components/index.ts
Due: eslint --fix, prettier --write

feat: add card component
  core/global.d.ts
  core/src/components/card/card.test.ts
  core/src/components/card/card.vue
  core/src/components/card/index.ts
  core/src/components/card/types.ts
  core/src/components/index.ts
Due: eslint --fix, prettier --write

feat: add resolver for import alias
  core/tsconfig.json
  core/vite.config.ts
  core/vitest.config.ts
Due: eslint --fix, prettier --write

feat: add checkbox component
  core/global.d.ts
  core/src/components/checkbox/checkbox.test.ts
  core/src/components/checkbox/checkbox.vue
  core/src/components/checkbox/index.ts
  core/src/components/checkbox/types.ts
  core/src/components/index.ts
Due: eslint --fix, prettier --write

feat: add id generator
  core/src/composables/id-generator.ts
Due: eslint --fix, prettier --write

feat: add css transition
  core/src/styles/index.css
  core/src/styles/transition.css
Due: prettier --write

feat: add chip component
  core/src/components/chip/chip.test.ts
  core/src/components/chip/chip.vue
  core/src/components/chip/index.ts
  core/src/types/color.ts
Due: eslint --fix, prettier --write

feat: add sass/scss support
  core/package.json
  core/src/styles/function.scss
  core/src/styles/index.scss
  core/src/styles/theme.scss
  core/src/styles/variable.scss
  pnpm-lock.yaml
Due: none

refactor(button): change button style from postcss to sass
  core/src/components/button/button.scss
  core/src/components/button/button.vue
  core/src/styles/index.scss
  core/src/styles/loader.scss
Due: eslint --fix

chore: add button to commit scope setting
  .vscode/settings.json
Due: none

refactor(card): change card style from postcss to sass
  .vscode/settings.json
  core/src/components/card/card.scss
  core/src/components/card/card.vue
  core/src/styles/index.scss
Due: eslint --fix

fix: add missing variable on theme
  core/src/styles/theme.scss
Due: none

refactor(checkbox): change checkbox style from postcss to sass
  .vscode/settings.json
  core/src/components/checkbox/checkbox.scss
  core/src/components/checkbox/checkbox.vue
  core/src/styles/index.scss
Due: eslint --fix

refactor(chip): change chip style from postcss to sass
  .vscode/settings.json
  core/src/components/chip/chip.scss
  core/src/components/chip/chip.vue
  core/src/styles/index.scss
  core/src/styles/transition.scss
Due: eslint --fix

chore(play): add icon library for testing in playground
  .vscode/settings.json
  play/package.json
  play/tsconfig.json
  play/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: add dev command
  package.json
  pnpm-lock.yaml
Due: none

feat: add dialog component
  .vscode/settings.json
  core/src/components/dialog/dialog.scss
  core/src/components/dialog/dialog.vue
  core/src/components/dialog/index.ts
  core/src/styles/index.scss
  core/src/styles/transition.scss
Due: eslint --fix, prettier --write

test(dialog): add dialog test
  core/src/components/dialog/dialog.test.ts
Due: eslint --fix, prettier --write

feat: add file generator
  package.json
  packages/nocturnal-ui/global.d.ts
  packages/nocturnal-ui/package.json
  packages/nocturnal-ui/scripts/generate-declaration.ts
  packages/nocturnal-ui/scripts/generate-scss.ts
  packages/nocturnal-ui/src/components/index.ts
  packages/nocturnal-ui/src/index.ts
  packages/nocturnal-ui/src/styles/component.scss
  packages/nocturnal-ui/src/styles/index.scss
  packages/nocturnal-ui/tsconfig.json
  packages/nocturnal-ui/vite.config.ts
  play/src/main.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: change vite-plugin-executor behavior
  packages/nocturnal-ui/vite.config.ts
  packages/vite-plugin-executor/package.json
  packages/vite-plugin-executor/src/index.ts
  packages/vite-plugin-executor/src/types.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: delete unused css files
  packages/nocturnal-ui/src/styles/global.css
  packages/nocturnal-ui/src/styles/index.css
  packages/nocturnal-ui/src/styles/reset.css
  packages/nocturnal-ui/src/styles/theme.css
  packages/nocturnal-ui/src/styles/transition.css
  packages/nocturnal-ui/src/styles/variable.css
  play/src/App.vue
Due: eslint --fix, prettier --write

feat: add component generator
  .prettierignore
  package.json
  packages/nocturnal-ui/scripts/generate-declaration.ts
  packages/nocturnal-ui/utils/case-converter.ts
  plop-templates/component/index.hbs
  plop-templates/component/scss.hbs
  plop-templates/component/sfc.hbs
  plopfile.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: remove playground
  package.json
  packages/vite-plugin-executor/README.md
  packages/vite-plugin-executor/package.json
  packages/vite-plugin-executor/src/index.ts
  packages/vite-plugin-executor/tsconfig.json
  play/.eslintrc
  play/README.md
  play/index.html
  play/package.json
  play/public/vite.svg
  play/src/App.vue
  play/src/assets/vue.svg
  play/src/main.ts
  play/src/style.css
  play/src/vite-env.d.ts
  play/tsconfig.json
  play/vite.config.ts
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

chore: move plop-templates to templates
  plop-templates/component/index.hbs
  plopfile.js
  templates/component/index.hbs
  templates/component/scss.hbs
  templates/component/sfc.hbs
Due: eslint --fix, prettier --write

chore: simplify generation script
  package.json
  packages/nocturnal-ui/package.json
  packages/nocturnal-ui/scripts/declaration/content.ts
  packages/nocturnal-ui/scripts/declaration/index.ts
  packages/nocturnal-ui/scripts/generate-declaration.ts
  packages/nocturnal-ui/scripts/generate-scss.ts
  packages/nocturnal-ui/scripts/index.ts
  packages/nocturnal-ui/scripts/shared/data.ts
  packages/nocturnal-ui/scripts/shared/generator.ts
  packages/nocturnal-ui/scripts/shared/index.ts
  packages/nocturnal-ui/scripts/shared/path.ts
  packages/nocturnal-ui/scripts/shared/remover.ts
  packages/nocturnal-ui/scripts/style/content.ts
  packages/nocturnal-ui/scripts/style/index.ts
  packages/nocturnal-ui/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: add local development
  packages/nocturnal-ui/src/app.vue
  packages/nocturnal-ui/src/components.d.ts
  packages/nocturnal-ui/src/main.ts
  packages/nocturnal-ui/src/style.css
Due: eslint --fix, prettier --write

feat: add list component
  packages/nocturnal-ui/global.d.ts
  packages/nocturnal-ui/src/components/index.ts
  packages/nocturnal-ui/src/components/list-group/index.ts
  packages/nocturnal-ui/src/components/list-group/list-group.scss
  packages/nocturnal-ui/src/components/list-group/list-group.vue
  packages/nocturnal-ui/src/components/list-item/index.ts
  packages/nocturnal-ui/src/components/list-item/list-item.scss
  packages/nocturnal-ui/src/components/list-item/list-item.vue
  packages/nocturnal-ui/src/index.ts
  packages/nocturnal-ui/src/styles/component.scss
  packages/nocturnal-ui/src/types/provider.ts
Due: eslint --fix, prettier --write

chore: turn off no-useless-undefined eslint rules
  .eslintrc
Due: none

fix(list-item): add inject default value
  .vscode/settings.json
  packages/nocturnal-ui/src/components/list-item/list-item.vue
Due: eslint --fix

feat: add menu component
  .vscode/settings.json
  packages/nocturnal-ui/global.d.ts
  packages/nocturnal-ui/src/components.d.ts
  packages/nocturnal-ui/src/components/index.ts
  packages/nocturnal-ui/src/components/menu/index.ts
  packages/nocturnal-ui/src/components/menu/menu.scss
  packages/nocturnal-ui/src/components/menu/menu.vue
  packages/nocturnal-ui/src/styles/component.scss
Due: eslint --fix, prettier --write

chore: remove favicon from index.html
  packages/nocturnal-ui/index.html
Due: prettier --write
